
<div class="grid grid-cols-3 items-center h-full headerFlow p-6">
  <div class="flex justify-center items-center">
    <img src="images/logoTest.png" alt="Logo LMS" width="120" class="logo-redondo" />
  </div>

  <div class="text-center flex flex-col items-center justify-center">
    <h1 class="text-4xl font-serif font-bold tracking-wide">EduConnect LMS</h1>
    <p class="text-sm italic font-light tracking-wider">
      Plataforma para potenciar el aprendizaje y la innovación educativa
    </p>
  </div>

  <div class="flex justify-center items-center">
    <button onclick="console.log('Boton de perfil clickeado')">
      <img src="images/perfilTest.png" alt="Usuario" width="80" class="user-icon">
    </button>
  </div>
</div>
